.item-card {
    border-radius: 12px !important;
}

.item-info h5 {
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .navbar-brand {
        font-size: 1.1rem;
    }

    .item-card {
        padding: 6px;
    }

    .item-info {
        width: 100%;
        margin-bottom: 10px;
    }

    .item-actions {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
