version: "3.8"

services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik
    restart: always
    ports:
      - 80:80 # HTTP entryPoints
      - 443:443 # HTTPS entryPoints
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/etc/traefik/traefik.yml
      - traefik:/certs
    networks:
      - proxy
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stockpile_django
    networks:
      - proxy
    volumes:
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - SQLITE_PATH=/app/data/db.sqlite3
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.stockpile.rule=Host(`stock.hlspace.org`)"
      - "traefik.http.routers.stockpile.entrypoints=websecure"
      - "traefik.http.routers.stockpile.tls=true"
      - "traefik.http.routers.stockpile.tls.certresolver=letsencrypt"
volumes:
  traefik:
    name: traefik

networks:
  proxy:
    external: true
